* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1c7ccc;
  color: white;
  padding: 4px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

nav ul li {
  list-style: none;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}
h1 {
  text-align: center;
  font-size: 1.1rem;
  margin: 1px 0;
  cursor: pointer;
}

body {
  height: 100vh;
  display: flex;
  background: #c0c0c4;
  flex-direction: column;
}

.cards {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: scale(1);
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.card.flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #1c7ccc;
  backface-visibility: hidden;
}

.front {
  transform: rotateY(180deg);
}

.start {
  /* This is a button */
  position: absolute;
  top: 55%;
  left: 83%;
  background: #1c7ccc;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1px auto;
  display: block;
}

.dont-show {
  display: none;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 80%;
}

.info {
  position: absolute;
  top: 40%;
  left: 78%;
}
